@import '../variables/variables';
.coustom_headr{
    color:$color-2 ;
    position: relative;
   
    .span{
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 2px;
        left: 2px;
        bottom: -10px;
        right:2px;
        background-color: $color-1;
    }
}