@import '../variables/variables';
.coustom_headr{
    color:$color-2 ;
   margin-bottom: 0px;
    text-transform: capitalize;
   font-size: 21px;
    
}
.span{
    width: 40px;
    height: 2px;
    display: inline-block;
    background-color: #f7723e;
    margin-bottom: 7px;
    margin-left: 2px;
    margin-right: 20px;
    text-align: left !important;
}