@import '../variables/variables';
.coustom_headr{
    color:$color-2 ;
   margin-bottom: 0px;
  
   
    
}
.span{
    width: 55px;
    height: 2px;
    display: inline-block;
    background-color: #f7723e;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 20px;
    text-align: left !important;
}